.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url("/images/square_leaf_pattern.jpg");
    // background-color: var(--secondary-color);
    // background-size: contain;
    background-position: center;
    position: relative;
  
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(26, 54, 54, 0.5);
      backdrop-filter: blur(0px);
      z-index: 1;
    }
  
    .content-container {
      align-self: center;
      max-width: var(--container-width) !important;
      margin: 0 auto;
      z-index: 99;
      position: relative;
    }
  
    .title {
      color: var(--highlight-color);
      z-index: 99;
      position: relative;
      margin-bottom: 20px;
    }
  }