.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url("/images/christmas-tree.jpg");
  background-size: cover;
  background-position: center;
  position: relative;

  &::after {
    content: "";  // Pseudo-element to create overlay
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(26, 54, 54, 0.5);
    z-index: 1;
  }

  .content-container {
    align-self: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    z-index: 99;
  }

  .title {
    color: var(--highlight-color);
    z-index: 99;
  }
}