@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  //   --primary-color: #1a3636;  /* Deep Teal */
  --primary-color: rgb(26, 54, 54); /* Deep Teal */
  --accent-color: #40534c; /* Charcoal Green */
  --secondary-color: #677d6a; /* Sage Green */
  --highlight-color: #d6bd98; /* Sand Beige */
  --text-color: #ffffff; /* White */
  --link-color-soft: #3a6073;
  --link-color-stress: #2b4d66;
  --link-color-teal: #2c5f63;
  --link-color-stone: #4a6484;
  --border-radius-small: 5px;
  --border-radius-medium: 8px;
  --border-radius-large: 12px; /* For cards, modals */
  --border-radius-rounded: 50%; /* Fully rounded */
  --container-width: 85rem;
}

.imageWrapper {
  position: relative;
  display: inline-block;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  transform: translate(-50%, -50%);
  border: 4px solid #ccc;
  border-top: 4px solid var(--primary-color);
  border-radius: 50%;
  animation: spin 1s linear infinite;
  z-index: 2;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.loading {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.loaded {
  opacity: 1;
  transition: opacity 0.3s ease;
}

* {
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  font-weight: 450;
}

container {
  background-color: var(--primary-color);
}

body {
  font-family: "Arial", sans-serif;
  background-color: var(--accent-color);
  color: var(--primary-color);
}

header {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 20px;
  text-align: center;
}

section {
  padding: 40px 0;

  &.intro,
  &.experience,
  &.projects,
  &.gallery,
  &.honors,
  &.contact {
    padding: 0;
  }
}

h1,
h2,
h3 {
  color: var(--primary-color);
}

p {
  color: var(--primary-color);
  font-size: 1.1rem;
}

button {
  background-color: var(--accent-color);
  color: var(--text-color);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: var(--highlight-color);
}

footer {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 20px;
  text-align: center;
}

.tooltip {
  background-color: var(--highlight-color) !important;
  color: var(--primary-color) !important;
  font-size: 0.875rem !important;
  font-weight: 500 !important;
  font-style: italic !important;
}
