.header {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 0;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 20px;

  .logoContainer {
    width: 100px;
    height: 100px;
    position: relative;

    img {
      height: 100%;
      cursor: pointer;
    }
  }
}

.pageContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 20px;

  .logoContainer {
    width: 100px;
    height: 100px;
    position: relative;

    img {
      height: 100%;
      cursor: pointer;
    }
  }

  .pageTypeTitle {
    font-size: 3rem;
    color: var(--highlight-color);
    text-decoration-style: solid;
    text-decoration-line: underline;
    text-decoration-color: var(--highlight-color);
    text-decoration-thickness: 1.75px !important;
    text-underline-offset: 5px;
    text-decoration-skip-ink: auto;
    text-underline-position: under;
    font-style: italic;
    text-align: center;
  }

  .pageNameTitle {
    font-size: 1.5rem;
    color: var(--highlight-color);
    text-align: center;
  }
}

.nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.nav li {
  margin-left: 20px;
}

.nav a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.1rem;
  transition: all 0.3s ease;

  &.resume-button {
    background-color: var(--highlight-color);
    color: var(--primary-color);
    padding: 12px 13px;
    border-radius: var(--border-radius-small);
  }
}

.nav a:hover {
  color: var(--highlight-color);

  &.resume-button {
    background-color: var(--accent-color);
    color: var(--highlight-color);
  }
}
